<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h2>Profile Search</h2>
        </div>
        <div class="card">
          <form>
            <div class="form-group">
              <input type="search" name="" id="" placeholder="Enter Username">
            </div>
            <div>
              <input type="submit" value="Submit" class="btn btn-secondary">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
