<div class="container">
  <div class="stats">
    <span class="highLight"> {{ userProfile.public_repos }} Repos </span>
    <span class="highLight"> {{ userProfile.followers }} followers </span>
    <span class="highLight"> {{ userProfile.following }} following </span>
  </div>
  <div class="cardx">
    <br>
    <ul class="list-group four">
      <div class="dets">
        <h3>Brief Information</h3>
      </div>
      <li class="list-group-item five">
        <strong>Username:</strong> {{ userProfile.name }}
      </li>
      <li class="list-group-item five">
        <strong>Twitter handle: </strong>{{ userProfile.twitter_username }}
      </li>
      <li class="list-group-item five">
        <strong>Website : </strong><a [href]="userProfile.blog" target="_blank">{{ userProfile.blog }}</a>
      </li>
      <li class="list-group-item five">
        <strong>User Email: </strong>{{ userProfile.email }}
      </li>
      <li class="list-group-item five">
        <strong>Location: </strong>{{ userProfile.location }}
      </li>
      <li class="list-group-item five">
        <strong>Joined : </strong>{{ userProfile.created_at | date }}
      </li>
    </ul>
  </div>

</div>
